
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
  <meta name="description" content="Free Rest Api">
  <meta name="keywords" content="XTREAM Bot Whatsapp">
  <meta name="author" content="idoganz">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="shortcut icon" type="image/png"   href="pz160kj/bg.png">
  <title>IDOGANZ</title>
	<link rel="stylesheet" href="ojanbot/core.min.css">
	<link rel="stylesheet" href="ojanbot/alert.min.css">
	<link rel="stylesheet" href="ojanbot/owl.min.css">
  <link rel="stylesheet" href="ojanbot/owl2.min.css">
	<link rel="stylesheet" href="ojanbot/icon.min.css">
	<link rel="stylesheet" href="ojanbot/flag.min.css">
	<link rel="stylesheet" href="ojanbot/style.min.css">
	<link rel="shortcut icon" href="https://i.ibb.co/rHSgTp7/IMG20210514104042.jpg" />
</head>
<body>
<div class="main-wrapper">
	<nav class="sidebar">
		<div class="sidebar-header">
			<a href="#" class="sidebar-brand">
				IDO GANZ<span> API2021</span>
			</a>
			<div class="sidebar-toggler not-active">
				<span></span>
				<span></span>
				<span></span>
			</div>
		</div>
		<div class="sidebar-body">
		<ul class="nav">
		<li class="nav-item nav-category">Ido-ganz</li>
		<li class="nav-item">
		<a href="#" class="nav-link">
		<i class="link-icon" data-feather="box"></i>
		<span class="link-title">Home</span>
		</a>
		</li>
		<li class="nav-item">
		<a href="https://saweria.co/idoganz1" class="nav-link">
		<i class="link-icon" data-feather="code"></i>
		<span class="link-title">Donasi</span>
		</a>
		</li>
		<li class="nav-item">
		<a href="https://a.regu.moe/umhsac.html" class="nav-link">
		<i class="link-icon" data-feather="code"></i>
		<span class="link-title">website</span>
		</a>
		</li>
		<li class="nav-item nav-category">DOCS</li>
		<li class="nav-item">
		<a class="nav-link" data-toggle="collapse" href="#muslim" role="button" aria-expanded="false" aria-controls="emails">
		<i class="link-icon" data-feather="book-open"></i>
		<span class="link-title">Muslim API</span>
		<i class="link-arrow" data-feather="chevron-down"></i>
		</a>
		<div class="collapse" id="muslim">
		<ul class="nav sub-menu">
		<li class="nav-item">
		<a href="/api/muslim/tahlil" class="nav-link">Doa Tahlil</a>
		</li>
		<li class="nav-item">
		<a href="/api/muslim/wirid" class="nav-link">Doa Wirid</a>
		</li>
		<li class="nav-item">
		<a href="/api/muslim/asmaulhusna" class="nav-link">Asmaul Husna</a>
		</li>
		<li class="nav-item">
		<a href="/api/muslim/doaharian" class="nav-link">Doa Harian</a>
		</li>
		<li class="nav-item">
		<a href="/api/muslim/ayatkursi" class="nav-link">Ayat Kursi</a>
		</li>
		<li class="nav-item">
		<a href="/api/muslim/kisahnabi?nabi=muhammad" class="nav-link">Kisah Nabi</a>
		</li>
		<li class="nav-item">
		<a href="/api/muslim/niatshalat" class="nav-link">Niat Shalat</a>
		</li>
		<li class="nav-item">
		<a href="/api/muslim/bacaanshalat" class="nav-link">Bacaan Shalat</a>
		</li>
		<li class="nav-item">
		<a href="/api/muslim/jadwalshalat?kota=jakarta" class="nav-link">Jadwal Shalat</a>
		</li>
		<li class="nav-item">
		<a href="/api/muslim/alquran?surah=1&ayat=2" class="nav-link">Alquran</a>
		</li>
		</ul>
		<li class="nav-item">
		<a class="nav-link" data-toggle="collapse" href="#photooxy" role="button" aria-expanded="false" aria-controls="emails">
		<i class="link-icon" data-feather="edit-2"></i>
		<span class="link-title">Photooxy API</span>
		<i class="link-arrow" data-feather="chevron-down"></i>
		</a>
		<div class="collapse" id="photooxy">
		<ul class="nav sub-menu">
		</li>
		<li class="nav-item">
		<a href="/api/photooxy/shadow?text=Idoganz" class="nav-link">Shadow Text Effect</a>
		</li>
		<li class="nav-item">
		<a href="/api/photooxy/romantic?text=Idoganz" class="nav-link">Romantic Text Effect</a>
		</li>
		<li class="nav-item">
		
		<a href="/api/photooxy/smoke?text=Idoganz" class="nav-link">Smoke text Effect</a>
		</li>
		<li class="nav-item">
		
		<a href="/api/photooxy/burn-paper?text=Idoganz" class="nav-link">Burn-paper Text Effect</a>
		</li>
		<li class="nav-item">
		
		<a href="/api/photooxy/naruto?text=Idoganz" class="nav-link">Naruto Text Effect</a>
		</li>
		<li class="nav-item">
		
		<a href="/api/photooxy/romantic?text=Idoganz" class="nav-link">Romantic Text Effect</a>
		</li>
		<li class="nav-item">
		
		<a href="/api/photooxy/love-message?text=Idoganz" class="nav-link">Love-Message Text Effect</a>
		</li>
		<li class="nav-item">
		
		<a href="/api/photooxy/message-under-grass?text=Idoganz" class="nav-link">Message Under Grass</a>
		</li>
		<li class="nav-item">
		
		<a href="/api/photooxy/glitch?text=Idoganz?text2=Rest APIs" class="nav-link">Glitch Text Effect</a>
		</li>
		<li class="nav-item">
		
		<a href="/api/photooxy/double-heart?text=Idoganz" class="nav-link">Double Heart</a>
		</li>
		<li class="nav-item">
		
		<a href="/api/photooxy/coffe-cup?text=Idoganz" class="nav-link">Coffe-cup Text Effect</a>
		</li>
		<li class="nav-item">		
		<a href="/api/styletext?text=ff.ojan.wibuTzy" class="nav-link">StyleText</a>
		
		</li>
		<li class="nav-item">
		<a href="/api/maker/attp?text=idoganz" class="nav-link">Attp</a>
		
		</li>
		<li class="nav-item">
		<a href="/api/maker/ttp?text=idoganz" class="nav-link">Ttp</a>
		
		</li>
		<li class="nav-item">
		<a href="/api/maker/ttp2?text=idoganzi" class="nav-link">Ttp 2</a>
		
		<a href="/api/photooxy/love-text?text=Idoganz" class="nav-link">Love-Text Effect</a>
		</li>
		<li class="nav-item">
		
		<a href="/api/photooxy/butterfly?text=Idoganz" class="nav-link">Butterfly Text Effect</a>
		</li>
		</ul>
        <li class="nav-item">
        <a class="nav-link" data-toggle="collapse" href="#socialmedia" role="button" aria-expanded="false" aria-controls="emails">
        <i class="link-icon" data-feather="airplay"></i>
        <span class="link-title">Social Media API</span>
        <i class="link-arrow" data-feather="chevron-down"></i>
        </a>
        <div class="collapse" id="socialmedia">
        <ul class="nav sub-menu">
        </li>
      </li>
      <li class="nav-item">
      	        <a href="/api/download/fb?url=https://www.facebook.com/watch/?v=1393572814172251" class="nav-link">Facebook Downloader</a>      
      	           </li>
      	           <li class="nav-item">
      <a href="/api/download/ig?url=https://www.instagram.com/p/CNtpwxuH5NK/?igshid=g26k5coikzwr" class="nav-link">Instagram Downloader</a>
      </li>
      <li class="nav-item">
      
      
      <a href="/api/download/ytmp4?url=https://youtu.be/Nq5rzeJ5Ab4" class="nav-link">Youtube Video Downloader</a>
      </li>
      <li class="nav-item">
      
      
      <a href="/api/download/ytmp3?url=https://youtu.be/Nq5rzeJ5Ab4" class="nav-link">Youtube Audio Downloader</a>
      </li>
      <li class="nav-item">
      
      
       <a href="/api/tiktok?url=https://vt.tiktok.com/ZSwWCk5o" class="nav-link">Tiktok wm & nowm</a>
      </li>
      <li class="nav-item">
      
      
      <a href="/api/download/fb?url=https://www.facebook.com/alanwalkermusic/videos/277641643524720" class="nav-link">Facebook</a>
      </li>
      <li class="nav-item">
      
      
      <a href="/api/yt/playmp4?query=naruto" class="nav-link">Youtube Play Video</a>
      </li>
      <li class="nav-item">
      
      
      <a href="/api/yt/playmp3?query=naruto" class="nav-link">Youtube Play Audio</a>
      </li>
      <li class="nav-item">
      
      
      <a href="/api/yt/search?query=naruto" class="nav-link">Youtube Search</a>
      </li>
      <li class="nav-item">
      
      
      <a href="/api/stalk/github?username=lord-idoq1" class="nav-link">Github Stalk</a>
      </li>
      <li class="nav-item">
      
      
      <a href="/api/stalk/tiktok?username=dj.ojann" class="nav-link">Tiktok Stalk</a>
      </li>
      <li class="nav-item">
      
      
      <a href="/api/other/ssweb?url=https://janbot-api.herokuapp.com/" class="nav-link">Ss Web</a>
      </li>
               
        </ul>
		<li class="nav-item">
		<a class="nav-link" data-toggle="collapse" href="#socalmedia" role="button" aria-expanded="false" aria-controls="emails">
		<i class="link-icon" data-feather="search"></i>
		<span class="link-title">Search API</span>
		<i class="link-arrow" data-feather="chevron-down"></i>
		</a>
		<div class="collapse" id="socalmedia">
		<ul class="nav sub-menu">
		</li>
		</li>
		<li class="nav-item">
		<a href="/api/search/image?query=naruto" class="nav-link">Google Image Search</a>
		
		</li>
		<li class="nav-item">
		<a href="/api/search/pinterest?query=naruto" class="nav-link">Pinterest Image Search</a>
		
		</li>
		<li class="nav-item">
		<a href="/api/search/gsmarena?query=poco x3" class="nav-link">GSMArena Search</a>
		
		</li>
		<li class="nav-item">
		<a href="/api/search/shopee?query=air jordan" class="nav-link">Shopee Search</a>
		
		</li>
		<li class="nav-item">
		<a href="/api/search/gplaystore?query=freefire&num=100" class="nav-link">Playstore Search</a>
		
		</ul>
		<li class="nav-item">
		<a class="nav-link" data-toggle="collapse" href="#ocialmedia" role="button" aria-expanded="false" aria-controls="emails">
		<i class="link-icon" data-feather="music"></i>
		<span class="link-title">Music API</span>
		<i class="link-arrow" data-feather="chevron-down"></i>
		</a>
		<div class="collapse" id="ocialmedia">
		<ul class="nav sub-menu">
		</li>
		</li>
		<li class="nav-item">
		<a href="/api/music/joox?query=monolog pamungkas" class="nav-link">Joox Download</a>
		
		</li>
		<li class="nav-item">
		<a href="/api/music/liriklagu?query=sayang" class="nav-link">Search Lirik Lagu</a>
		
		</li>
		<li class="nav-item">
		<a href="/api/music/chordlagu?lagu=sayang" class="nav-link">Search Chord Lagu</a>
		</li>
		</ul>
		<li class="nav-item">
		<a class="nav-link" data-toggle="collapse" href="#pociamedia" role="button" aria-expanded="false" aria-controls="emails">
		<i class="link-icon" data-feather="edit-2"></i>
		<span class="link-title">Gacha API</span>
		<i class="link-arrow" data-feather="chevron-down"></i>
		</a>
		<div class="collapse" id="pociamedia">
		<ul class="nav sub-menu">
		</li>
		</li>
		<li class="nav-item">
		<a href="/api/ganteng/cowok" class="nav-link">Random cowok</a>
		
		</li>
		<li class="nav-item">
		<a href="/api/ganteng/Baekhyung" class="nav-link">Baekhyung</a>
		
		</li>
		<li class="nav-item">
		<a href="/api/ganteng/Dokyungso" class="nav-link">DokYoungso</a>
		
		</li>
		<li class="nav-item">
		<a href="/api/ganteng/Huangzitao" class="nav-link">Huangzitao</a>
		
		</li>
		<li class="nav-item">
		<a href="/api/cantik/jenni" class="nav-link">jenni</a>
		
		</li>
		<li class="nav-item">
		<a href="/api/cantik/jiso" class="nav-link">jisso</a>
		
		</li>
		<li class="nav-item">
		<a href="/api/cantik/jenni" class="nav-link">jenni</a>
		
		</li>
		<li class="nav-item">
		<a href="/api/cantik/Lisa" class="nav-link">Lisa</a>
		
		</li>
		<li class="nav-item">
		<a href="/api/cantik/rose" class="nav-link">rose</a>
		
		</li>
		<li class="nav-item">
		<a href="/api/cantik/harley" class="nav-link">Harley</a>
		
		</li>
		<li class="nav-item">
		<a href="/api/cantik/anony" class="nav-link">Anony</a>
		
		</li>
		<li class="nav-item">
		<a href="/api/cantik/joker" class="nav-link">Joker</a>
		
		</li>
		<li class="nav-item">
		<a href="/api/cantik/cewek" class="nav-link">Random cewek</a>
		
		</li>
		<li class="nav-item">
		<a href="/api/cantik/husbu" class="nav-link">Husbu</a>
	
	    </li>
		<li class="nav-item">
		<a href="/api//cantik/cosplay" class="nav-link">Cosplay</a>
		
		</li>
		<li class="nav-item">
		<a href="/api/cantik/waifu" class="nav-link">Waifu</a>
		
		</li>
		<li class="nav-item">
		<a href="/api/ganteng/Kimjondae" class="nav-link">Kimjondae</a>
		
		</li>
		<li class="nav-item">
		<a href="/api/ganteng/Jungkook" class="nav-link">Jungkook</a>
		
		</li>
		<li class="nav-item">
		<a href="/api/ganteng/Jimin" class="nav-link">Jimin</a>
		
		</li>
		<li class="nav-item">
		<a href="api/ganteng/J_hope" class="nav-link">J_hope</a>
		
		</li>
		</ul>
		<li class="nav-item">
		<a class="nav-link" data-toggle="collapse" href="#poialmedia" role="button" aria-expanded="false" aria-controls="emails">
		<i class="link-icon" data-feather="edit-3"></i>
		<span class="link-title">TextPro API</span>
		<i class="link-arrow" data-feather="chevron-down"></i>
		</a>
		<div class="collapse" id="poialmedia">
		<ul class="nav sub-menu">
		</li>
		<li class="nav-item">
		<a href="/api/textpro/logo-wolf?text=ido&text2=ganzi" class="nav-link">Logo Wolf</a>
		</li>
		<li class="nav-item">
		<a href="/api/textpro/graffiti?text=ido" class="nav-link">Text Grafiti</a>
		</li>
		<li class="nav-item">
		<a href="/api/textpro/graffiti1?text=ojan&text2=senpai" class="nav-link">Text Grafiti1</a>
		</li>
		<li class="nav-item">
		<a href="/api/textpro/blackpink?text=ido" class="nav-link">Text Blackpink</a>
		</li>
		<li class="nav-item">
		<a href="/api/textpro/3dstone?text=ido" class="nav-link">Text 3D Stone</a>
		</li>
		<li class="nav-item">
		<a href="/api/textpro/glitchtext?text=ojan" class="nav-link">Glitchtext</a>
		</li>
		<li class="nav-item">
		<a href="/api/textpro/pornhub?text=ido&text2=ganz" class="nav-link">Pornhub Text</a>
		</li>
		<li class="nav-item">
		<a href="/api/textpro/textpantai?text=Idoganz" class="nav-link">Text Pantai</a>
		</li>
		<li class="nav-item">
		<a href="/api/textpro/textpantai?text=Idoganz" class="nav-link">Text Pantai</a>
		</li>
		<li class="nav-item">
		<a href="/api/textpro/textpantai2?text=Idoganz" class="nav-link">Text Pantai 2</a>
		</li>
		<li class="nav-item">
		<a href="/api/textpro/marvel?text=Idoganz&text2=ganz" class="nav-link">Marvel Text</a>
		</li>
		<li class="nav-item">
		<a href="/api/textpro/magmatext?text=Idoganz" class="nav-link">Magma Text</a>
		</li>
		<li class="nav-item">
		<a href="/api/textpro/watercolor?text=Idoganz" class="nav-link">Water Color Text</a>
		</li>
		<li class="nav-item">
		<a href="/api/textpro/jokerlogo?text=Idoganz" class="nav-link">Joker Logo</a>
		</li>
		<li class="nav-item">
		<a href="/api/textpro/transformer?text=Idoganz" class="nav-link">Transformer</a>
		</li>
		<li class="nav-item">
		<a href="/api/textpro/thunder?text=Idoganz" class="nav-link">Thunder</a>
		</li>
		<li class="nav-item">
		<a href="/api/textpro/breakwall?text=Idoganz" class="nav-link">BreakWall</a>
		</li>
		<li class="nav-item">
		<a href="/api/textpro/sky?text=Idoganz" class="nav-link">Sky Text</a>
		</li>
		</ul>
		<li class="nav-item">
		<a class="nav-link" data-toggle="collapse" href="#pialmedia" role="button" aria-expanded="false" aria-controls="emails">
		<i class="link-icon" data-feather="video"></i>
		<span class="link-title">Asupan API</span>
		<i class="link-arrow" data-feather="chevron-down"></i>
		</a>
		<div class="collapse" id="pialmedia">
		<ul class="nav sub-menu">
		</li>
		<li class="nav-item">
		<a href="/api/asupan/bocil" class="nav-link">Asupan Bocil</a>
		</li>
		<li class="nav-item">
		<a href="/api/asupan/ghea" class="nav-link">Asupan Gheayubi</a>
		</li>
		<li class="nav-item">
		<a href="/api/asupan/rikagusriani" class="nav-link">Asupan Rikagusriani</a>
		</li>
		<li class="nav-item">
		<a href="/api/cewe/indonesia" class="nav-link">Cecan indo</a>
		</li>
		<li class="nav-item">
		<a href="/api/cewe/malaysia" class="nav-link">Cecan Malaysia</a>
		</li>
		<li class="nav-item">
		<a href="/api/cewe/korea" class="nav-link">Cecan korea</a>
		</li>
		<li class="nav-item">
		<a href="/api/cewe/thailand" class="nav-link">Cecan Thailand</a>
		</li>
		<li class="nav-item">
		<a href="/api/cewe/japan" class="nav-link">Cecan Japan</a>
		</li>
		<li class="nav-item">
		<a href="/api/cewe/china" class="nav-link">Cecan China</a>
		</li>
		<li class="nav-item">
		<a href="/api/asupan/santuy" class="nav-link">Asupan Santuy</a>
		</li>
		<li class="nav-item">
		<a href="/api/asupan/ukhty" class="nav-link">Asupan Ukhty</a>
		</li>
		<li class="nav-item">
		<a href="/api/asupan/cecan" class="nav-link">Random Foto Cecan</a>
		</li>
		<li class="nav-item">
		<a href="/api/asupan/geayubi" class="nav-link">Asupan Ghea</a>
		</li>
		<li class="nav-item">
		<a href="/api/asupan/hijab" class="nav-link">Random Foto Hijab</a>
		</li>
		</ul>
		<li class="nav-item">
		<a class="nav-link" data-toggle="collapse" href="#kartun" role="button" aria-expanded="false" aria-controls="emails">
		<i class="link-icon" data-feather="camera"></i>
		<span class="link-title">Kartun API</span>
		<i class="link-arrow" data-feather="chevron-down"></i>
		</a>
		<div class="collapse" id="kartun">
		<ul class="nav sub-menu">
		</li>
		<li class="nav-item">
		<a href="/api/kartun/search?query=spongebob" class="nav-link">Kartun Search</a>
		
		</li>
		<li class="nav-item">
		<a href="/api/kartun/genre/movie" class="nav-link">Kartun Genre Movie</a>
		
		</li>
		<li class="nav-item">
		<a href="/api/kartun/genre/military" class="nav-link">Kartun Genre Military</a>
		
		</li>
		<li class="nav-item">
		<a href="/api/kartun/genre/comedy" class="nav-link">Kartun Genre Comedy</a>
		
		</li>
		<li class="nav-item">
		<a href="/api/kartun/genre/drama" class="nav-link">Kartun Genre Drama</a>
		
		</li>
		<li class="nav-item">
		<a href="/api/kartun/genre/action" class="nav-link">Kartun Genre Action</a>
		
		</li>
		<li class="nav-item">
		<a href="/api/kartun/genre/adventure" class="nav-link">Kartun Genre Adventure</a>
		
		</li>
		<li class="nav-item">
		<a href="/api/animek/kusonime?query=naruto" class="nav-link">Kusonime</a>
		
		</li>
		<li class="nav-item">
		<a href="/api/animek/dewabatch?query=naruto" class="nav-link">Dewabatch</a>
		</ul>
		<li class="nav-item">
		<a class="nav-link" data-toggle="collapse" href="#canvas" role="button" aria-expanded="false" aria-controls="emails">
		<i class="link-icon" data-feather="image"></i>
		<span class="link-title">Canvas API</span>
		<i class="link-arrow" data-feather="chevron-down"></i>
		</a>
		<div class="collapse" id="canvas">
		<ul class="nav sub-menu">
		</li>
		<li class="nav-item">
		<a href="/api/welcome?name=Idoganz&mem=50&gcname=XTREAM GRUP&picurl=https://i.ibb.co/rHSgTp7/IMG20210514104042.jpg&bgurl=https://i.ibb.co/rHSgTp7/IMG20210514104042.jpg" class="nav-link">Welcomer</a>
		
		</li>
		<li class="nav-item">
		<a href="/api/welcome2?name=Idoganz&mem=50&gcname=XTREAM GRUP&picurl=https://i.ibb.co/rHSgTp7/IMG20210514104042.jpg&bgurl=https://i.ibb.co/rHSgTp7/IMG20210514104042.jpg&gcicon=https://i.ibb.co/rHSgTp7/IMG20210514104042.jpg" class="nav-link">Welcomer 2</a>
		
		</li>
		<li class="nav-item">
		<a href="/api/welcome3?name=Idoganz&mem=50&msg=SELAMAT DATANG DI GRUP XTREAM&picurl=https://i.ibb.co/rHSgTp7/IMG20210514104042.jpg&bgurl=https://cdn.discordapp.com/attachments/819995259261288475/835055559941292032/style.jpg" class="nav-link">Welcomer 3</a>
		
		</li>
		<li class="nav-item">
		<a href="/api/goodbye?name=Idoganz&mem=50&gcname=XTREAM GRUP&picurl=https://i.ibb.co/rHSgTp7/IMG20210514104042.jpg&bgurl=https://i.ibb.co/rHSgTp7/IMG20210514104042.jpg" class="nav-link">Goodbye</a>
		
		</li>
		<li class="nav-item">
		<a href="/api/goodbye2?name=Idoganz&mem=50&gcname=XTREAM GRUP&picurl=https://i.ibb.co/rHSgTp7/IMG20210514104042.jpg&bgurl=https://i.ibb.co/rHSgTp7/IMG20210514104042.jpg&gcicon=https://i.ibb.co/rHSgTp7/IMG20210514104042.jpg" class="nav-link">Goodbye 2</a>
		
		</li>
		<li class="nav-item">
		<a href="/api/goodbye3?name=Idoganz&mem=50&msg=BYE BYE BABI&picurl=https://i.ibb.co/rHSgTp7/IMG20210514104042.jpg&bgurl=https://cdn.discordapp.com/attachments/819995259261288475/835055559941292032/style.jpg" class="nav-link">Goodbye 3</a>
		
		</li>
		<li class="nav-item">
		<a href="/api/promote?name=Idoganz&mem=50&msg=Selamat Menjadi Admin&picurl=https://i.ibb.co/rHSgTp7/IMG20210514104042.jpg&bgurl=https://cdn.discordapp.com/attachments/819995259261288475/835055559941292032/style.jpg" class="nav-link">Promote</a>
		
		</li>
		<li class="nav-item">
		<a href="/api/demote?name=Idoganz&mem=50&msg=Mampus Didemote&picurl=https://i.ibb.co/rHSgTp7/IMG20210514104042.jpg&bgurl=https://cdn.discordapp.com/attachments/819995259261288475/835055559941292032/style.jpg" class="nav-link">Demote</a>
		
		</li>
		<li class="nav-item">
		<a href="/api/imgedit/gay?url=https://i.ibb.co/rHSgTp7/IMG20210514104042.jpg" class="nav-link">Gay Effect</a>
		
		</li>
		<li class="nav-item">
		<a href="/api/imgedit/gay2?url=https://i.ibb.co/rHSgTp7/IMG20210514104042.jpg" class="nav-link">Gay Effect 2</a>
		
		</li>
		<li class="nav-item">
		<a href="/api/imgedit/komunis?url=https://i.ibb.co/rHSgTp7/IMG20210514104042.jpg" class="nav-link">Komunis Effect</a>
		
		</li>
		<li class="nav-item">
		<a href="/api/imgedit/hitler?url=https://i.ibb.co/rHSgTp7/IMG20210514104042.jpg" class="nav-link">Hitler Effect</a>
		
		</li>
		<li class="nav-item">
		<a href="/api/imgedit/discordblue?url=https://i.ibb.co/rHSgTp7/IMG20210514104042.jpg" class="nav-link">Discord Effect</a>
		
		</li>
		<li class="nav-item">
		<a href="/api/imgedit/discordblack?url=https://i.ibb.co/rHSgTp7/IMG20210514104042.jpg" class="nav-link">Discord Effect 2</a>
		
		</li>
		<li class="nav-item">
		<a href="/api/imgedit/circle?url=https://i.ibb.co/rHSgTp7/IMG20210514104042.jpg" class="nav-link">Circle Effect</a>
		
		</li>
		<li class="nav-item">
		<a href="/api/imgedit/captcha?url=https://i.ibb.co/rHSgTp7/IMG20210514104042.jpg" class="nav-link">Captcha Effect</a>
		
		</li>
		<li class="nav-item">
		<a href="/api/imgedit/police?url=https://i.ibb.co/rHSgTp7/IMG20210514104042.jpg" class="nav-link">Police Line Effect</a>
		
		</li>
		<li class="nav-item">
		<a href="/api/imgedit/continued?url=https://i.ibb.co/rHSgTp7/IMG20210514104042.jpg" class="nav-link">Continued Effect</a>
		
		</li>
		<li class="nav-item">
		<a href="/api/imgedit/putin?url=https://i.ibb.co/rHSgTp7/IMG20210514104042.jpg" class="nav-link">Putin Effect</a>
		
		</li>
		<li class="nav-item">
		<a href="/api/imgedit/petimati?url=https://i.ibb.co/rHSgTp7/IMG20210514104042.jpg" class="nav-link">RIP Effect</a>
		
		</li>
		<li class="nav-item">
		<a href="/api/imgedit/presentasi?text=anak kntl" class="nav-link">Presentasi Effect</a>
		
		</li>
		<li class="nav-item">
		<a href="/api/imgedit/penjara?url=https://i.ibb.co/rHSgTp7/IMG20210514104042.jpg" class="nav-link">Jail Effect</a>
		
		</li>
		<li class="nav-item">
		<a href="/api/imgedit/wasted?url=https://i.ibb.co/rHSgTp7/IMG20210514104042.jpg" class="nav-link">Wasted Effect</a>
		
		</li>
		<li class="nav-item">
		<a href="/api/imgedit/triger?url=https://i.ibb.co/rHSgTp7/IMG20210514104042.jpg" class="nav-link">Triggered Effect</a>
		
		</li>
		<li class="nav-item">
		<a href="/api/imgedit/greyscale?url=https://i.ibb.co/rHSgTp7/IMG20210514104042.jpg" class="nav-link">GreyScale Effect</a>
		
		</li>
		<li class="nav-item">
		<a href="/api/imgedit/invert?url=https://i.ibb.co/rHSgTp7/IMG20210514104042.jpg" class="nav-link">Invert Effect</a>
		</li>
		<li class="nav-item">
		
		<a href="/api/imgedit/brightness?url=https://i.ibb.co/rHSgTp7/IMG20210514104042.jpg" class="nav-link">Brightness Effect</a>
		
		</li>
		<li class="nav-item">
		<a href="/api/imgedit/glass?url=https://i.ibb.co/rHSgTp7/IMG20210514104042.jpg" class="nav-link">Glass Effect</a>
		
		</li>
		<li class="nav-item">
		<a href="/api/imgedit/sepia?url=https://i.ibb.co/rHSgTp7/IMG20210514104042.jpg" class="nav-link">Sepia Effect</a>
		</li>
		<li class="nav-item">
		
		<a href="/api/imgedit/enhance&img=https://i.ibb.co/rHSgTp7/IMG20210514104042.jpg" class="nav-link">Bikin HD gambar</a>
		</ul>
		<li class="nav-item">
		<a class="nav-link" data-toggle="collapse" href="#fun" role="button" aria-expanded="false" aria-controls="emails">
		<i class="link-icon" data-feather="smile"></i>
		<span class="link-title">Fun API</span>
		<i class="link-arrow" data-feather="chevron-down"></i>
		</a>
		<div class="collapse" id="fun">
		<ul class="nav sub-menu">
		</li>
		<li class="nav-item">
		<a href="/api/kuis/caklontong" class="nav-link">Cak Lontong</a>
		
		</li>
		<li class="nav-item">
		<a href="/api/kuis/tebakgambar" class="nav-link">Tebak Gambar</a>
		
		</li>
		<li class="nav-item">
		<a href="/api/kuis/math" class="nav-link">Soal Matematika</a>
		
		</li>
		<li class="nav-item">
		<a href="/api/kuis/tebakbendera" class="nav-link">Tebak Bendera</a>
		
		</li>
		<li class="nav-item">
		<a href="/api/kuis/tebakjenaka" class="nav-link">Tebak Jenaka</a>
		
		</li>
		<li class="nav-item">
		<a href="/api/kuis/tebakkimia" class="nav-link">Tebak Kimia</a>
		
		</li>
		<li class="nav-item">
		<a href="/api/kuis/tebakchara" class="nav-link">Tebak Animek</a>
		
		</li>
		<li class="nav-item">
		<a href="/api/kuis/tebakbendera" class="nav-link">Tebak Bendera</a>
		
		</li>
		<li class="nav-item">
		<a href="/api/kuis/tebaklirik" class="nav-link">Tebak Lirik Lagu</a>
		
		</li>
		<li class="nav-item">
		<a href="/api/fun/dare" class="nav-link">Dare</a>
		</li>
		<li class="nav-item">
		
		<a href="/api/fun/cerpen" class="nav-link">Cerpen</a>
		
		</li>
		<li class="nav-item">
		<a href="/api/fun/pantun" class="nav-link">Pantun</a>
		
		</li>
		<li class="nav-item">
		<a href="/api/fun/ramaljadian?tanggal=1&bulan=1&tahun=2001" class="nav-link">Ramal Jadian</a>
		
		</li>
		<li class="nav-item">
		<a href="/api/hilih?kata=aku kan ganteng banget" class="nav-link">Kata Hilih</a>
		
		</li>
		<li class="nav-item">
		<a href="/api/heleh?kata=aku kan ganteng banget" class="nav-link">Kata Heleh</a>
		</li>
		<li class="nav-item">
		
		<a href="/api/holoh?kata=aku kan ganteng banget" class="nav-link">Kata Holoh</a>
		</li>
		<li class="nav-item">
		
		<a href="/api/halah?kata=aku kan ganteng banget" class="nav-link">Kata Halah</a>
		
		</li>
		<li class="nav-item">
		<a href="/api/huluh?kata=aku kan ganteng banget" class="nav-link">Kata Huluh</a>
		</li>
		</ul>
		<li class="nav-item">
		<a class="nav-link" data-toggle="collapse" href="#nsfw" role="button" aria-expanded="false" aria-controls="emails">
		<i class="link-icon" data-feather="eye"></i>
		<span class="link-title">Nsfw API</span>
		<i class="link-arrow" data-feather="chevron-down"></i>
		</a>
		<div class="collapse" id="nsfw">
		<ul class="nav sub-menu">
		</li>
		<li class="nav-item">
		<a href="/api/nsfw/ass" class="nav-link">Ass</a>
		
		</li>
		<li class="nav-item">
		<a href="/api/nsfw/ahegao" class="nav-link">Ahegao</a>
		
		</li>
		<li class="nav-item">
		<a href="/api/nsfw/bdsm" class="nav-link">Bdsm</a>
		
		</li>
		<li class="nav-item">
		<a href="/api/nsfw/blowjob" class="nav-link">Blowjob</a>
		
		</li>
		<li class="nav-item">
		<a href="/api/nsfw/cuckold" class="nav-link">Cuckold</a>
		
		</li>
		<li class="nav-item">
		<a href="/api/nsfw/cum" class="nav-link">Cum</a>
		
		</li>
		<li class="nav-item">
		<a href="/api/nsfw/ero" class="nav-link">Ero</a>
		
		</li>
		<li class="nav-item">
		<a href="/api/nsfw/femdom" class="nav-link">Femdom</a>
		</li>
		<li class="nav-item">
		
		<a href="/api/nsfw/foot" class="nav-link">Foot</a>
		</li>
		<li class="nav-item">
		
		<a href="/api/nsfw/gangbang" class="nav-link">Gangbang</a>
		</li>
		<li class="nav-item">
		
		<a href="/api/nsfw/glasses" class="nav-link">Glasses</a>
		
		</li>
		<li class="nav-item">
		<a href="/api/nsfw/hentai" class="nav-link">Hentai</a>
		
		</li>
		<li class="nav-item">
		<a href="/api/nsfw/hentaigif" class="nav-link">Hentaigif</a>
		
		</li>
		<li class="nav-item">
		<a href="/api/nsfw/jahy" class="nav-link">Jahy</a>
		</li>
		<li class="nav-item">
		
		<a href="/api/nsfw/masturbation" class="nav-link">Masturbate</a>
		
		</li>
		<li class="nav-item">
		<a href="/api/nsfw/nsfwNeko" class="nav-link">NsfwNeko</a>
		
		</li>
		<li class="nav-item">
		<a href="/api/nsfw/orgy" class="nav-link">Orgy</a>
		</li>
		<li class="nav-item">
		
		<a href="/api/nsfw/panties" class="nav-link">Panties</a>
		</li>
		<li class="nav-item">
		
		<a href="/api/nsfw/pussy" class="nav-link">Pussy</a>
		
		</li>
		<li class="nav-item">
		<a href="/api/nsfw/thighs" class="nav-link">Anime Pussy</a>
		
		</li>
		<li class="nav-item">
		<a href="/api/nsfw/yuri" class="nav-link">Yuri</a>
		
		</li>
		<li class="nav-item">
		<a href="/api/cersex" class="nav-link">Cerita sex</a>
		</li>
		</ul>
		<li class="nav-item">
		<a class="nav-link" data-toggle="collapse" href="#sfw" role="button" aria-expanded="false" aria-controls="emails">
		<i class="link-icon" data-feather="eye"></i>
		<span class="link-title">Anime API</span>
		<i class="link-arrow" data-feather="chevron-down"></i>
		</a>
		<div class="collapse" id="sfw">
		<ul class="nav sub-menu">
		</li>
		<li class="nav-item">
		<a href="/api/sfw/waifu" class="nav-link">Waifu</a>
		
		</li>
		<li class="nav-item">
		<a href="/api/sfw/neko" class="nav-link">Neko</a>
		
		</li>
		<li class="nav-item">
		<a href="/api/sfw/shinobu" class="nav-link">Shinobu</a>
		
		</li>
		<li class="nav-item">
		<a href="/api/anime/sasuke" class="nav-link">Sasuke</a>
		
		</li>
		<li class="nav-item">
		<a href="/api/anime/hinata" class="nav-link">Hinata</a>
		
		</li>
		<li class="nav-item">
		<a href="/api/anime/akame" class="nav-link">Akame</a>
		
		</li>
		<li class="nav-item">
		<a href="/api/anime/emilia" class="nav-link">Emilia</a>
		
		</li>
		<li class="nav-item">
		<a href="/api/anime/milf" class="nav-link">Milf</a>
		
		</li>
		<li class="nav-item">
		<a href="/api/anime/nakano" class="nav-link">Nakano</a>
		
		</li>
		<li class="nav-item">
		<a href="/api/anime/neko" class="nav-link">Neko</a>
		
		</li>
		<li class="nav-item">
		<a href="/api/anime/memeindo" class="nav-link">Meme indo</a>
		
		</li>
		<li class="nav-item">
		<a href="/api/anime/loli" class="nav-link">Random loli</a>
		
		</li>
		<li class="nav-item">
		<a href="/api/anime/darkjokes" class="nav-link">Darkjokes</a>
		
		</li>
		<li class="nav-item">
		<a href="/api/anime/mikasa" class="nav-link">Mikasa</a>
		
		</li>
		<li class="nav-item">
		<a href="/api/anime/akiyama" class="nav-link">Akiyama</a>
		
		</li>
		<li class="nav-item">
		<a href="/api/anime/erza" class="nav-link">Erza</a>
		
		</li>
		<li class="nav-item">
		<a href="/api/anime/naruto" class="nav-link">Naruto</a>
		
		</li>
		<li class="nav-item">
		<a href="/api/anime/hentai" class="nav-link">Ramdom hentai</a>
						
		</li>
		<li class="nav-item">
		<a href="/api/sfw/megumin" class="nav-link">Megumin</a>
		
		</li>
		<li class="nav-item">
		<a href="/api/sfw/bully" class="nav-link">Bully</a>
		
		</li>
		<li class="nav-item">
		<a href="/api/sfw/cuddle" class="nav-link">Cuddle</a>
		
		</li>
		<li class="nav-item">
		<a href="/api/sfw/cry" class="nav-link">Cry</a>
		
		</li>
		<li class="nav-item">
		<a href="/api/sfw/kiss" class="nav-link">Kiss</a>
		
		</li>
		<li class="nav-item">
		<a href="/api/sfw/hug" class="nav-link">Hug</a>
		
		</li>
		<li class="nav-item">
		<a href="/api/sfw/awoo" class="nav-link">Awoo</a>
		
		</li>
		<li class="nav-item">
		<a href="/api/sfw/lick" class="nav-link">Lick</a>
		</li>
		</ul>
		<li class="nav-item">
		<a class="nav-link" data-toggle="collapse" href="#image" role="button" aria-expanded="false" aria-controls="emails">
		<i class="link-icon" data-feather="image"></i>
		<span class="link-title">Random Image API</span>
		<i class="link-arrow" data-feather="chevron-down"></i>
		</a>
		<div class="collapse" id="image">
		<ul class="nav sub-menu">
		</li>
		<li class="nav-item">
		<a href="/api/maker/dadu" class="nav-link">Random DADU</a>
		
		</li>
		<li class="nav-item">
		<a href="/api/wallpaper/teknologi" class="nav-link">Wallpaper Teknologi</a>
		
		</li>
		<li class="nav-item">
		<a href="/api/wallpaper/programming" class="nav-link">Wallpaper Programming</a>
		
		</li>
		<li class="nav-item">
		<a href="/api/wallpaper/cyberspace" class="nav-link">Wallpaper CyberSpace</a>
		
		</li>
		<li class="nav-item">
		<a href="/api/wallpaper/muslim" class="nav-link">Wallpaper Muslim</a>
		
		</li>
		<li class="nav-item">
		<a href="/api/wallpaper/mountain" class="nav-link">Wallpaper Mountain View</a>
		</li>
		</ul>
		<li class="nav-item">
		<a class="nav-link" data-toggle="collapse" href="#info" role="button" aria-expanded="false" aria-controls="emails">
		<i class="link-icon" data-feather="map"></i>
		<span class="link-title">Information API</span>
		<i class="link-arrow" data-feather="chevron-down"></i>
		</a>
		<div class="collapse" id="info">
		<ul class="nav sub-menu">
		</li>
		<li class="nav-item">
		<a  href="/api/info/gempa" class="nav-link">Info Gempa</a>
		
		</li>
		<li class="nav-item">
		<a href="/api/info/cuaca?kota=banyuwangi" class="nav-link">Info Cuaca</a>
		
		</li>
		<li class="nav-item">
		<a href="/api/info/covidindo" class="nav-link">Covid Indo</a>
		
		</li>
		<li class="nav-item">
		<a href="/api/info/covidworld" class="nav-link">Covid World</a>
		
		</li>
		<li class="nav-item">
		<a href="/api/info/wikipedia?search=jembatan" class="nav-link">Wikipedia</a>
		
		</li>
		<li class="nav-item">
		<a href="/api/info/drakorasia?search=tale" class="nav-link">Drakor Asia</a>
		
		</li>
		<li class="nav-item">
		<a href="/api/info/kbbi?kata=pohon" class="nav-link">KBBI</a>
		
		</li>
		<li class="nav-item">
		<a href="/api/info/kodepos?kota=jakarta" class="nav-link">Kode Pos</a>
		</li>
		</ul>
		<li class="nav-item nav-category">Contact me</li>
		<li class="nav-item">
		<a class="nav-link" data-toggle="collapse" href="#con" role="button" aria-expanded="false" aria-controls="emails">
		<i class="link-icon" data-feather="info"></i>
		<span class="link-title">Contact Me</span>
		<i class="link-arrow" data-feather="chevron-down"></i>
		</a>
		<div class="collapse" id="con">
		<ul class="nav sub-menu">
		</li>
		<li class="nav-item">
		<a  href="https://wa.me/6285609217332" class="nav-link">Whatsapp</a>
		</li>
		</li>
		<li class="nav-item">
		<a  href="https://github.com/peler" class="nav-link">Github</a>
		</li>
		<li class="nav-item">
		<a  href="https://t.me/idoganz" class="nav-link">Telegram</a>
		</li>
		</div>
		</nav>
	
		
	</nav><div class="page-wrapper">
	<nav class="navbar">
		<a href="#" class="sidebar-toggler">
			<i data-feather="menu"></i>
		</a>
		<div class="navbar-content">
			<ul class="navbar-nav">
				<li class="nav-item dropdown nav-apps">
					<a class="nav-link dropdown-toggle" href="#" id="appsDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
						<i data-feather="grid"></i>
					</a>
					<div class="dropdown-menu" aria-labelledby="appsDropdown">
						<div class="dropdown-header d-flex align-items-center justify-content-between">
							<p class="mb-0 font-weight-medium">
								Web App
							</p>
						</div>
						<div class="dropdown-body">
							<div class="d-flex align-items-center apps">
								<a href=https://github.com/idoganz" target="_blank"><i data-feather="message-square" class="icon-lg"></i><p>
								Github
							</p>
							</a>
							<a href="https://wa.me/6285609217332" target="_blank"><i data-feather="globe" class="icon-lg"></i><p>
								WhatsApp
							</p>
							</a>
							<a href="https://www.Idoganz.ga/" target="_blank"><i data-feather="bar-chart-2" class="icon-lg"></i><p>
								Official Web
							</p>
							</a>
							</div>
						</div>
						<div class="dropdown-footer d-flex align-items-center justify-content-center">
							IDOGANZ〽️
							</div>
							<li class="nav-item dropdown nav-profile">
							<a class="nav-link dropdown-toggle" href="#" id="profileDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
							<img src="https://i.ibb.co/rHSgTp7/IMG20210514104042.jpg" alt="profile">
							</a>
							<div class="dropdown-menu" aria-labelledby="profileDropdown">
							<div class="dropdown-header d-flex flex-column align-items-center">
							<div class="figure mb-3">
							<img src="https://i.ibb.co/rHSgTp7/IMG20210514104042.jpg" alt="">
							</div>
							<div class="info text-center">
							<p class="name font-weight-bold mb-0">idoganz1</p>
							<p class="email text-muted mb-3">xtreambot@gmail.com</p>
							</div>
							</div>
							<div class="dropdown-body">
							<ul class="profile-nav p-0 pt-3">
							<li class="nav-item">
							<a href="https://a.regu.moe/umhsac.html/" class="nav-link">
							<i data-feather="user"></i>
							<span>Profile</span>
							</a>
							</li>
							<li class="nav-item">
							<a href="https://instagram.com/call.me.ido" class="nav-link">
							<i data-feather="instagram"></i>
							<span>Instagram</span>
							</a>
						</div>
					</div>
				</li>
			</ul>
		</div>
	</nav>
<div class="page-content">
	<div class="row">
	<div class="d-flex justify-content-between">
	<marquee  bgcolor="#16182D" style="margin-right: 6px; margin-left: 10px; margin-top: 10px;margin-bottom: 12px; border-radius: 5px;letter-spacing: 3px; font-family:arial; font-size:20px; color:#ffffff; padding-top: 4px;padding-bottom: 4px;"> THANKS TO Lawan Pasukan Ghost⚛️,Juanluciver [ friends ], Idoganz [ Developer ]</marquee>
	</div>
	<div class="col-md-12 grid-margin">
	<div class="card">
	<div class="card-body">
	<div class="d-flex align-items-center">
	<div class="icon mb-0 mb-md-2 mb-xl-0 mr-2">
	<i class="link-icon" data-feather="eye"></i>
	</div>
	<p class="font-weight-medium mb-0">Visitor</p>
	</div>
	<h3 class="mb-1 number-font">
	<div id="visitor"></div>
	</h2>
	<small class="fs-12 text-muted">Visitor Website</small>
	</div>
	</div>
	</div>
	<div class="col-md-12 grid-margin">
	<div class="card">
	<div class="card-body">
	<div class="d-flex align-items-center">
	<div class="icon mb-0 mb-md-2 mb-xl-0 mr-2">
	<i class="link-icon" data-feather="clock"></i>
	</div>
	<p class="font-weight-medium mb-0">Time Now</p>
	</div>
	<h3 class="mb-1 number-font">
	<div id="browser_info"></div>
	</h2>
	<small class="fs-12 text-muted">
	<div id="browser_sholat"></div>
	</small>
	</div>
	</div>
	</div>
	<div class="col-md-12 grid-margin">
	<div class="card">
	<div class="card-body">
	<div class="d-flex align-items-center">
	<div class="icon mb-0 mb-md-2 mb-xl-0 mr-2">
	<i class="link-icon" data-feather="calendar"></i>
	</div>
	<p class="font-weight-medium mb-0">XTREAM To 2021</p>
	</div>
	<div class="d-flex align-items-center mt-3 flex-wrap">
	<h3 class="font-weight-medium mb-0 mr-2" id="time"></h3>
	</div>
	</div>
	</div>
	</div>
	<div class="col-md-12 grid-margin">
	<div class="card">
	<div class="card-body">
	<div class="d-flex align-items-center">
	<div class="icon mb-0 mb-md-2 mb-xl-0 mr-2">
	<i class="link-icon" data-feather="zap"></i>
	</div>
	<p class="font-weight-medium mb-0">Baterai handphone</p>
	</div>
	<div class="d-flex align-items-center mt-3 flex-wrap">
	<h3 class="font-weight-medium mb-0 mr-2" id="batrai"></h3>
	</div>
	</div>
	</div>
	</div>
		<div class="col-md-12 grid-margin">
		<div class="card">
		<div class="card-body">
					<h6 class="card-title">S & K</h6>
					<p>
					THANKS TO 😇:<br>
					FAUZAN [ FRIENDS ]<br>
					Lawan Pasukan Ghost [ TEAM ]<br>
					JuanLuciver [ FRIENDS ]<br>
					XTREAM [ TEAM ]<br>
					ALL FRIENDS<br>
					IDOGANZ😎 [ DEVELOPER ]<br>
					
					1. Jangan Di Spam!<br>
					2. Jangan Di Tembak kontol :v<br>
					3. Jangan Merusak Website & Template<br>
					4. Admin Tidak Bertanggung Jawab Atas Kerusakan terhadap website tersebut<br><br>
					Thanks
					
					</ol>
				</div>
				</div>
	<iframe allow="autoplay" width="0" height="0" src="https://l.top4top.io/m_20924scgs0.m4a" frameborder="0" allowfullscreen></iframe>
</div><footer class="footer d-flex flex-column flex-md-row align-items-center justify-content-between">
				<p class="text-muted text-center text-md-left">
					Copyright © 2021 <a href="https://wa.me/6285609217332" target="_blank">idoganz</a>. All rights reserved
				</p>
				<p class="text-muted text-center text-md-left mb-0 d-none d-md-block">
					Coded With <i class="mb-1 text-primary ml-1 icon-small" data-feather="heart"></i> By Idoganz1
				</p>
			</footer>
		</div>
	</div>
<script>
				// Akhir Hitungan Mundur
				var countDownDate = new Date("Jan 1, 2022 00:00:00").getTime();
				// Update Hitungan Mundur Setiap 1 Detik
				var x = setInterval(function() {
					// Mengambil Tanggal Dan Waktu
					var now = new Date().getTime();
					// Find the distance between now and the count down date
					var distance = countDownDate - now;
					// Kalkulator Waktu Hari, Jam, Menit, Detik 
					var days = Math.floor(distance / (1000 * 60 * 60 * 24));
					var hours = Math.floor((distance % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60));
					var minutes = Math.floor((distance % (1000 * 60 * 60)) / (1000 * 60));
					var seconds = Math.floor((distance % (1000 * 60)) / 1000);
					// Menampilkan Hasil Di Dalam element Menggunakan id="time"
					document.getElementById("time").innerHTML = days + " Hari " + hours + " Jam " + minutes + " Menit " + seconds + " Detik ";
					// Ketika countdown timer sudah berakhir Maka Tulisan Berakhir
					if (distance < 0) {
						clearInterval(x);
						document.getElementById("time").innerHTML = "Berakhir";
					}
				}, 1000);
			</script>
	<script src="ojanbot/core.js"></script>
	<script src="https://onlydevcity.xyz/ojanbot/alert.js"></script>
	<script src="ojanbot/owl.js"></script>
	<script src="ojanbot/feather.js"></script>
	<script src="ojanbot/template.js"></script>
	<script src="ojanbot/script.js"></script>
	<script src="ojanbot/checker.js"></script>
	<script src="ojanbot/ip.js"></script>
	<script src="ojanbot/kon.js"></script>
	<script src="ojanbot/date.js"></script>
	<script src="ojanbot/ojan.js"></script>
	<script src="ojanbot/ojann.js"></script>
	<script src="minton/assets/libs/sweetalert2/sweetalert2.min.js"></script>
	<script>
	const Toast = Swal.mixin({
	toast: true,
	position: 'top-end',
	showConfirmButton: false,
	timer: 2000
	});
	
	Toast.fire({
	type: 'success',
	title: 'No Apikey, Jgan Di Spam Ya:) '
	})
	$.getJSON("https://api.countapi.xyz/hit/janbot-api.herokuapp.com/visits",
	function(data) {
	$("#visitor").html(data.value);
	})
	
	function visitor(){
	var xhr = new XMLHttpRequest()
	var url = 'https://api.countapi.xyz/hit/janbot-api.herokuapp.com/visits'
	xhr.onloadend = function(){
	data = JSON.parse(this.responseText)
	document.getElementById("visitor").textContent = data.value
	}
	xhr.open("GET", url, true)
	xhr.send()
	}
	</script>
	</html>